/* styles for repository homepage from TP2*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #D2EDFA;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    padding-bottom: 5rem;
    
}

h1,h2 {
text-transform: uppercase;
}

section {
    height: 70vh;
    width: 60vh;
    margin: 3rem;
    padding: 3rem;
    padding-top: 1rem;
    box-shadow: 0px 5px 10px #333;
    border-radius: 1rem;    
    background-color: #FAEFE1;
    /*overflow: scroll;*/

}

section:hover {
	transform: scale(1.05);
	box-shadow: 5px 10px 30px #000;
}

h1 {
    font-size: 5rem;
    line-height: 0.9em;
    color: #225D7D;
}

h2 {
    font-size: 2rem;
    color: #225D7D;
}
header {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header h1 {
    flex-grow: 1;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
    align-items: center;
    margin: auto 10%;

}


#coolPic img {
    width: 100%;
}

p {
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6em;
}

ol {
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
}

a {
    font-family: "Nunito", sans-serif;
    
}

a:hover {
    color: #FF5733;
    text-decoration: underline;
}

/* Tablet + Phone: force single-column layout */
@media only screen and (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    margin: 0 auto;
    max-width: 720px;
  }

  section {
    width: 100%;
    max-width: 640px;
    max-height: 400px;
    margin: 1rem auto;
    padding: 3rem;
    overflow: scroll;
  }

  h1 { font-size: 3.2rem; }
  h2 { font-size: 1.6rem; }
  p, ol, a { font-size: 1.2rem; }
}