/* styles for repository homepage from TP2*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    font-family: "Spectral", serif;
    font-weight: 400;
}

h1,h2 {
text-transform: uppercase;
}

section {
    height: 90vh;
    width: 60vh;
    float: left;
    background-color: white;
    margin: 1rem;
    padding: 3rem;
    box-shadow: 0px 5px 10px #333;
}

h1 {
    font-size: 5rem;
    line-height: 0.9em;
}
header {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header h1 {
    flex-grow: 1;
    text-align: center;
}

main {
    
    align-items: center;
   
}

section {
    background-color: antiquewhite;

}

#coolPic img {
    width: 100%;
}