/*styles for weather app*/

/***************general layout**********/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --predictionboxwidth: 70vw;
    --predictionboxheight: 20vh;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
   font-family: "Roboto", sans-serif;
   
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightskyblue;
    color: white;
    text-shadow: 1px 1px 2px black;
   

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 30vh var(--predictionboxheight);
    grid-template-areas:
        'current-info   current-info'
        'currenthum     currentwind'
        'future                   future';
}

/*****************current info********/
#currentInfo {
    position: relative;
    grid-area: current-info;
    display: flex;
    align-items: center;      /* centers vertically */
    justify-content: center;   /* centers horizontally */
    background-color: salmon;
    border-radius:15px;
    background-image: url(images/360_F_302037028_WgdzBqp7MCTF0iITajUUVryCKJsyjOE6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem; 

}

#currentTemp {
    font-size: 22vw;
    color: #a8e6f1;

}

#currentStatus {
    position: absolute;
    bottom: 3rem;
    
    font-size: 10vw;
}

#location {
    position: absolute;
    top: 3rem;
    font-size: 9vw;
    
    
}


/**************current humidity********/

#currentHumidity {
    position: relative;
    grid-area: currenthum;
    color: rgb(207, 220, 243);
    display: flex;
    align-items: center;      /* centers vertically */
    justify-content: center;
    font-size: 8vw;
    background-image: url(images/166.jpg);
    background-size: cover;
    background-position: center;
    border-radius:15px;
    margin: .5rem; 
    margin-top: 1rem;
    margin-right: 1rem;
}

#currentHumidity #humidity {
    text-align: center;
    font-size: 7vw;
}


#currentHumidity b {
    font-size: 15vw;
}

#wind {
    text-align: center;
    font-size: 7vw;
}



/***************current wind********/
#currentWind {
    position: relative;
    grid-area: currentwind;
    color: rgb(206, 198, 105);;
    display: flex;
    align-items: center;      /* centers vertically */
    justify-content: center;
    font-size: 5vw;
    background-image: url(images/dandelion--taraxacum--in-the-wind-200194596-001-5c8d4453c9e77c00014a9d5d.jpg);
    background-size: cover;
    background-position: center;
    margin: .5rem; 
    margin-top: 1rem;
    margin-right: 1rem;
     border-radius:15px;

}



/***************future prediction********/
#futureInfo {
    position: relative;
    grid-area: future;
    background-color: rgb(207, 231, 240);
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-size: 7vw;
    margin: .5rem; 
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
     border-radius:15px;
}

#futureInfo::-webkit-scrollbar {
    display: none;
}

.futureDay {
    position: absolute;
    width: var(--predictionboxwidth);
    height: var(--predictionboxheight);
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    padding-top: 0.7rem;


    
}

.futureDay:nth-child(2) {
    left: var(--predictionboxwidth);
}

.futureDay:nth-child(3) {
    left: calc(var(--predictionboxwidth) * 2);
    border-right: none;

}

.futureTemp {
    top: 2rem;
    color:#a8e6f1
}

/**************modal window stuff********/

/* blur and dim the background with a cover*/
#modalCover {
   position: fixed;
   display: none;
   top: 0;
   left: 0; 
   width: 100vw;
   height: 100vh;
   background-color: rgba(255,255,255,0.5);
   backdrop-filter: blur(5px);
   z-index: 1000; 
}

#modalForm{
    position: fixed;
    display: none;
    width: 80vw;
    height: 60vh;
    left: 10vw;
    top: 20vh;
    padding: 1em;
    background-color: white;
    border: 1px solid gray;
    color: black; 
    z-index: 1001;
}

#findLocation{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

body.showModal #modalCover,
body.showModal #modalForm {
    display: block;
}

/**************desktop********/

@media screen and (orientation: landscape) {
    :root{
        --predictionboxwidth:30vw;
        --predictionboxheight: calc( 100vh/3 );
    }
    main {
        grid-template-columns: 60vw 40vw;
        grid-template-rows: var(--predictionboxheight) var(--predictionboxheight) var(--predictionboxheight);
        grid-template-areas:
            'current-info    currenthum'
            'current-info    currentwind'
            'current-info    future';
    }

    #currentInfo {
        border-bottom: none;
        
    }



    .futureDay {
        font-size: 3.5vw;
    }

    #currentHumidity b {
    font-size: 6vw;
}

    #currentHumidity #humidity {
    text-align: center;
    font-size: 3vw;
}

    #wind {
        font-size: 4vw;
    }
   
}

@media only screen and (max-width: 1030px) and (min-width: 413px) {
    
    #currentInfo {
        background-size: cover;
    }

    #currentTemp {
    font-size: 20vw;
    }

    #location {
    font-size: 6vw;
    }

    #currentStatus {
    bottom: 4rem;
    font-size: 8vw;
    }

    #currentHumidity {
    font-size: 8vw;
    }

    #currentWind {
    font-size: 5vw;
    }

    /* humidity labels removed */


    .futureDay {
    font-size: 6vw;

    }

}

@media only screen and  (min-width: 1031px) {
  
      #currentInfo {
        background-size: cover;
    }

    #currentTemp {
    font-size: 12vw;
    }

    #location {
    font-size: 4vw;
    }

    #currentStatus {
    bottom: 6rem;
    font-size: 5vw;
    }

    #currentHumidity {
    font-size: 8vw;
    
    }

    #currentWind {
    font-size: 5vw;

    }

    /* humidity labels removed */

   

    .futureDay {
    font-size: 3.5vw;

    }
}





   