/* styles for tic tac toe project */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titan+One&display=swap');

body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 4rem auto;

}

:root {
    --gameboardsize: 80vh;
    --gameboardspacer: 15px;
    align-items: center;
    background-color: #c5b7eb; 
}

#gameboard {
    position: relative;
    /*width: var(--gameboardsize);
    height: var(--gameboardsize);*/
    width: calc(var(--gameboardsize) - var(--gameboardspacer));
    height: calc(var(--gameboardsize) - var(--gameboardspacer));
    background-color: #9b2295;  
    border: 2rem solid #9b2295; /*makes the border of the gameboard*/
    border-radius: 25px;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gameboardspacer);*/

}

.gamespace {
    /* position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;*/
    font-family: "Titan One", sans-serif; 
    font-size: 10rem;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    background-color: #f7f2ab;
    width: calc((var(--gameboardsize)/3) - var(--gameboardspacer));
    height: calc((var(--gameboardsize)/3) - var(--gameboardspacer));
    border-radius: 15px; /*makes the gamespace edges round*/

}

/* Style for X player - blue color */
.x {
    color: blue;
}

/* Style for O player - red color */
.o {
    color: red;
}

.row1 {
    top: 0;
}

.row2 {
    top: calc(var(--gameboardsize)/3 );
}

.row3 {
    top: calc( (var(--gameboardsize)/3) * 2 );
}
.col1 {
    left: 0;
}
.col2 {
    left: calc(var(--gameboardsize)/3 );
}
.col3 {
    left: calc( (var(--gameboardsize)/3) * 2 );
}