/* styles for tic tac toe project */

:root {
    --gameboardsize: 80vh;
    --gameboardspacer: 15px;
}

#gameboard {
    position: relative;
    width: var(--gameboardsize);
    height: var(--gameboardsize);
    background-color: black;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gameboardspacer);
}

.gamespace {
    position: relative;
    background-color: white;
}