/*styles for concentration board*/ 
/*
To achieve the flipping effect on a mouse-over (hover), we need to position and style the nest of DOM objects with a handful of special 3D-rotation CSS properties, a transform rotation applied on :hover, and transitions to make the rotations apply smoothly.
*/

* { box-sizing: border-box; }


:root {
  --cardSize: 40vw; /* variable for card dimensions */
}

/*********************** gereral card styling */

.card {
  position: relative;
  width: var(--cardSize);
  height: 27vw;
  perspective: 500px;/* special CSS property relevant to 3D flips */
  margin-bottom: 2rem; 
}

.cardContent {
  position: absolute; /* positioning within the parent card object */
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d; /* special CSS property relevant to 3D flips */
}

.card:hover .cardContent {
  transform: rotateY(180deg); /* simulate a 3D flip */
}

.cardTop,
.cardBottom {
  position: absolute; /* positioning within the parent cardContent object */
  text-align: center;
  height: 100%;
  width: 100%;
  border: 2px solid darkblue;
  font-size: 42px;
  backface-visibility: hidden; /* special CSS property relevant to 3D flips */
}

.cardTop {
  background-color: darkblue;
  color: #eee;
}

.cardBottom {
  background-color: #eee;
  color: darkblue;
  transform: rotateY(180deg); /* pre-flip so it appears on parent's flip */
}

/*********************** specific card styling */

.pair1 .cardBottom {
    background-color: red;
}

.pair2 .cardBottom {
    background-color: green;
}

.pair3 .cardBottom {
    background-color: yellow;
}

.pair4 .cardBottom {
    background-color: gray;
}

.pair5 .cardBottom {
    background-color: purple;
}

.pair6 .cardBottom {
    background-color: orange;
}

.pair7 .cardBottom {
    background-color: pink;
}

.pair8 .cardBottom {
    background-color: cyan;
}

/*********************** game board formating */

#gameboard {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 100vw;
  
}

@media screen and (orientation: landscape) {

  :root {
    --cardSize: 20vw; /* variable for card dimensions */
  }

  #gameboard {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}