/*styles for concentration board*/ 
/*
To achieve the flipping effect on a mouse-over (hover), we need to position and style the nest of DOM objects with a handful of special 3D-rotation CSS properties, a transform rotation applied on :hover, and transitions to make the rotations apply smoothly.
*/

* { box-sizing: border-box; }


:root {
  --cardSize: 40vw; /* variable for card dimensions */
}

/*********************** gereral card styling */

.card {
  position: relative;
  width: var(--cardSize);
  height: 27vw;
  perspective: 500px;/* special CSS property relevant to 3D flips */
  margin-bottom: 2rem; 
  border: 
}

.cardContent {
  position: absolute; /* positioning within the parent card object */
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d; /* special CSS property relevant to 3D flips */
}

.card:hover .cardContent {
  transform: rotateY(180deg); /* simulate a 3D flip */
}

.cardTop,
.cardBottom {
  position: absolute; /* positioning within the parent cardContent object */
  text-align: center;
  height: 100%;
  width: 100%;
  border: 8px solid gold;
  border-radius: 20px;
  font-size: 42px;
  backface-visibility: hidden; /* special CSS property relevant to 3D flips */
}

.cardTop {
  background-color: darkblue;
  color: #eee;
}

.cardBottom {
  background-color: #eee;
  transform: rotateY(180deg); /* pre-flip so it appears on parent's flip */
}

/*********************** specific card styling */

.pair1 .cardBottom {
    background-color: #5bb941;
    background-image: url("images/TLoZ_Series_Link_Render.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.pair2 .cardBottom {
    background-color: #d396ee;
    background-image: url("images/Zelda_-_Super_Smash_Bros._Ultimate.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pair3 .cardBottom {
    background-color: #9b0d16;
    background-image: url("images/640px-AoI_Ganondorf_Artwork.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pair4 .cardBottom {
    background-color: lightgray;
    background-image: url("images/Impa.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pair5 .cardBottom {
    background-color: #f2b85f;
    background-image: url("images/800px-TotK_Bokoblin_Model.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pair6 .cardBottom {
    background-color: #f3f163;
    background-image: url("images/King_rhoam_art_thumb.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pair7 .cardBottom {
    background-color: rgb(192, 127, 6);
    background-image: url("images/OoT_Darunia_Artwork.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.pair8 .cardBottom {
    background-color: rgb(42, 236, 246);
    background-image: url("images/800px-HWAoC_Mipha_Artwork.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pair1 .cardTop {
    background-image: url("img/TLoZ_Series_Link_Render.webp");
}

/*********************** game board formating */

#gameboard {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 100vw;
  
}

@media screen and (orientation: landscape) {

  :root {
    --cardSize: 20vw; /* variable for card dimensions */
  }

  #gameboard {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}