/*styles for weather app*/

/***************general layout**********/
:root{
    --predictionboxwidth:70vw;
    --predictionboxheight:20vh;
}
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 30vh var(--predictionboxheight);
    grid-template-areas: 
        'current-info   current-info'
        'currenthum     currentwind'      
        'future                   future';
}

/*****************current info********/
#current-info {
    position: relative;
    grid-area: current-info;
    background-color: salmon;
  
}

#currenttemp {
    position:absolute;
    font-size: 5rem;
    left: 1rem;
}

#currentstatus {

    position:absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 2rem;
}

/**************current humidity********/

#currenthumidity {
    position: relative;
    grid-area: currenthum;
    background-color: lightblue;
}

/***************current wind********/
#currentwind {
    position: relative;
    grid-area: currentwind;
    background-color: lightgray;
}

/***************future prediction********/
#futureinfo {
    position: relative;
    grid-area: future;
    background-color: lightgoldenrodyellow;
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#futureinfo::-webkit-scrollbar {
    display: none;
}

.futureday {
    position: absolute;
    width: var(--predictionboxwidth);
    height: var(--predictionboxheight);
}

.futureday:nth-child(2) {
    left: var(--predictionboxwidth);
}

.futureday:nth-child(3) {
    left: calc(var(--predictionboxwidth) * 2);
}