/*styles for weather app*/

/***************general layout**********/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --predictionboxwidth: 70vw;
    --predictionboxheight: 20vh;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
   font-family: "Roboto", sans-serif;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    color: white;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 30vh var(--predictionboxheight);
    grid-template-areas:
        'current-info   current-info'
        'currenthum     currentwind'
        'future                   future';
}

/*****************current info********/
#current-info {
    position: relative;
    grid-area: current-info;
    display: flex;
    align-items: center;      /* centers vertically */
    justify-content: center;   /* centers horizontally */
    background-color: salmon;
    border-bottom: 1px solid white;
    

}

#currenttemp {
    font-size: 6rem;
}

#currentstatus {
    position: absolute;
    bottom: 3rem;
    
    font-size: 2.5rem;
}

#location {
    position: absolute;
    top: 3rem;
    font-size: 2rem;
    
}


/**************current humidity********/

#currenthumidity {
    position: relative;
    grid-area: currenthum;
    background-color: lightblue;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    align-items: center;      /* centers vertically */
    justify-content: center;
    font-size: 4rem;
}

/***************current wind********/
#currentwind {
    position: relative;
    grid-area: currentwind;
    background-color: lightgray;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;      /* centers vertically */
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
}

/***************future prediction********/
#futureinfo {
    position: relative;
    grid-area: future;
    background-color: rgb(239, 239, 55);
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#futureinfo::-webkit-scrollbar {
    display: none;
}

.futureday {
    position: absolute;
    width: var(--predictionboxwidth);
    height: var(--predictionboxheight);
    border-right: 1px solid grey;
    font-size: 2rem;
    text-align: center;
    padding-top: 0.7rem;

    
}

.futureday:nth-child(2) {
    left: var(--predictionboxwidth);
}

.futureday:nth-child(3) {
    left: calc(var(--predictionboxwidth) * 2);
    border-right: none;

}

.futuretemp {
    top: 2rem;
}

/**************desktop********/

@media screen and (orientation: landscape) {
    :root{
        --predictionboxwidth:30vw;
        --predictionboxheight: calc( 100vh/3 );
    }
    main {
        grid-template-columns: 60vw 40vw;
        grid-template-rows: var(--predictionboxheight) var(--predictionboxheight) var(--predictionboxheight);
        grid-template-areas:
            'current-info    currenthum'
            'current-info    currentwind'
            'current-info    future';
    }

    #current-info {
        border-bottom: none;
        border-right: 1px solid white;
    }
}