/*styles for weather app*/
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 30vh 20vh;
    grid-template-areas: 
        'current-info   current-info'
        'currenthum     currentwind'          .'
        'future                   .';
}

#current-info {
    position: relative;
    grid-area: current-info;
    background-color: salmon;
  
}

currenttemp {
    position:absolute;
    font-size: 5rem;
    left: 1rem;
}

currentstatus {
    position:absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 2rem;
}

#currenthumidity {
    position: relative;
    grid-area: currenthum;
    background-color: lightblue;
}

#currentwind {
    position: relative;
    grid-area: currentwind;
    background-color: lightgray;
}

#futureinfo {
    position: relative;
    grid-area: future;
    background-color: lightgoldenrodyellow;
}